<div id="submit_comment">
	<%= form_for(@comment, :remote => true) do |f| %>
		<%= render "form_errors", :comment => @comment %>
		
		<div class="field">
			<%= f.label :username %>
			<%= f.text_field :username %>
		</div>
		
		<div class="field">
			<%= f.label :content %>
			<%= f.text_area :content %>
		</div>

	  <div class="actions">
	    <%= f.submit "Publicar" %>
	  </div>
	<% end %>
</div>

<h1>Veja quem jรก comentou no nosso mural de Natal</h1>

<div id="comments">
	<% if @comments.present? %>
		<%= render :partial => "comment", :collection => @comments %>
	<% end %>	
</div>